html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Natours | #{title}
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
    body

        // HEADER
        include includes/_header
        
        // CONTENT 
        block content
            h1 This is a placeholder content!

        // FOOTER
        include includes/_footer

    